$selected: #FFF3EB;
$selected-border: #FF8B37;
$correct: #E6FAEA;
$correct-border: #47D867;
$wrong: #FDEEED;
$wrong-border: #EC6259;
$white: #FFF;
$dark: #1C1C21;
$inactive-fill: #1E6A8E;
$inactive-border: #D0D0D8;
$hover-fill: #3891B1;
$passed-fill: #003B63;
$blue-text: #004974;
$lightblue-bg: rgba(0, 73, 116, 0.05);
$grey-bg: #F5F5F7;


$font-20: 20px;

$max-width: 1440px;
$mobile: 480px;
$tablet-min: 481px;
$tablet: 768px;
$tablet-max: 1024px;